# Logs
logs
*.log
npm-debug.log*

docker-data/aws-localstack
node_modules
dist
client/.yalc
client/yalc.lock
server/.yalc
server/yalc.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
